@import "tailwindcss";

:root {
  --base: #8176AF;
  --primary: #C0B7E8;
  --dark: #302C42;
  --light: #e0e0e0ff;
}

@theme {
  --color-base: var(--base);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

body {
  @apply text-[12px] px-20
}

.btn {
  @apply rounded-[40px] py-4 px-[34px] font-bold uppercase
}

.btn-primary {
  @apply text-dark bg-linear-to-r from-base to-primary
}

.btn-light {
  @apply bg-transparent text-light border-2 border-white
}